* {
    padding: 0;
    margin: 0;
}

.bg {
    background-color: #121818;
    padding-top: 1px;
    padding-bottom: 150px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
}

.playerX {
    color: #09c372;
}

.playerO {
    color: #498af8;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset {
    background-color: #ff3860;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}